/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-feb-2018, 19.47.32
    Author     : jesus
*/

.row {
    margin-top: 7px;
}
.right-inner-addon {
    position: relative;
}
body {
    background-image: url("wallpaper.jpg");
    background-color: #cccccc;
    background-size: 100%;
    color: white;
}
#bottone {
    margin-top: 7px;
    color: black;
}